

  #title{
      color: aliceblue;
      padding-left: 80px;
      margin-bottom: 5px;
      margin-top: 5px;
  }


  .listOfProjects{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0px;
  }
